/* stylelint-disable linebreaks */
::placeholder {
  color: var(--first);
  opacity: 1;
}

.container {
  align-items: center;
  background-color: var(--first);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-login {
  align-items: flex-end;
  background-color: var(--first);
  border: 3px solid var(--second);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 400px;
}

.button-config {
  align-items: center;
  color: var(--second);
  cursor: pointer;
  display: flex;
  font-size: 40px;
  margin: 5%;
  min-height: 40px;
  width: 10%;
  transform: rotate(-0deg);
  transition: 5s;
}

.button-config:hover {
  transform: rotate(720deg);
}

.container-login-forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  width: 100%;
}

.inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-login-forms h1 {
  color: var(--accent);
  font-size: 40px;
  margin-bottom: 12px;
}

.label-name, .label-email {
  padding-bottom: 12px;
}

.input-name, .input-email {
  background-color: var(--accent);
  background-image: none;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  height: 50px;
  padding: 10px;
  width: 300px;
}

.button-play {
  background-color: var(--second);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  height: 3.5rem;
  margin: auto;
  margin-bottom: 4rem;
  padding: 10px 0;
  text-transform: uppercase;
  transition: 0.5s;
  width: 300px;
}

.button-play:hover {
  background-color: var(--accent);
}

.button-play:disabled {
  opacity: 50%;
}

.trivia-image {
  margin-bottom: 32px;
  width: 50%;
}
