* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: var(--first);
  opacity: 1;
}

.container {
  align-items: center;
  background-color: var(--accent);
  display: flex;
  height: 1000px;
  justify-content: center;
  width: 100%;
}

.container-login {
  align-items: center;
  background-color: var(--first);
  border: 1px solid var(--second);
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  width: 250px;
}

.container-config {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-config {
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  margin: 10px;
}

.container-login-forms {
  align-items: center;
  background-color: var(--first);
  border: 1px solid white;
  border-top: 0 solid white;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  width: 250px;
}

.container-login-forms h1 {
  color: var(--accent);
  font-size: 36px;
  margin-bottom: 12px;
}

.label-name {
  padding: 10px;
}

.input-name {
  background-color: var(--accent);
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 7px;
  width: 210px;
}

.label-email {
  padding: 10px;
}

.input-email {
  background-color: var(--accent);
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 7px;
  width: 210px;
}

.button-play {
  background-color: var(--second);
  color: var(--black);
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  margin: 10px;
  width: 190px;
}
