:root {
  --backgrouncolor: #FFFFFF;
  --maincolor : #14213D;
  --secondcolor : #FCA311;
  --cinza : #E5E5E5;
  --preto : #000000;

}

*, 
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
